
<%= form_tag("auth/create", method: "post") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>
    <%= label_tag(:password, "Password:") %>
  <%= text_field_tag(:password) %>
  <%= submit_tag("SignUp") %>
<% end %>


<a href="<%= auth_login_path%>">Have account Login </a>
