<!-- Image and text -->
<nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">
    <img src="/image/logo.jpg" width="30" height="30" class="cardd-text">
    Intern News
    <a class="navbar-brand" href="/">Popular</a>
    <a class="navbar-brand" href="/">Recommend</a>
  </a>
</nav>
<div class="container" style="mx: 5;">
  <% @categories.each do |category| %>
    <div class="row card-home">
      <div class="col">
        <div class="card bg-light mb-3" style="max-width: 540px; height: 250px;">
          <img src="/image/otoo.jpg" style="height: 175px;">
          <div class="card-body">
            <a href="/category/:i" class="stretched-link">
              <h5 class="card-title"><%= category.name_category %></h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

  <div class="container">
    <% @articles.each do |article| %>
      <div class="row">
        <div class="col-8 img-home">
          <img style="height: 55%; width: 70%; display: block;" src="/image/b.jpg" alt="Card image"><br>
          <h5 class="card-title">
            <a href="/article/<%= article.id %>"> <%= article.title %></a>
          </h5>
          <small class="text-muted">by A.R WICAKSONO03 Aug 2019 06:44:45.</small>
        </div>
      </div>

      <div class="col-4">
        <h5>POPULAR</h5>
        <div class="card mb-3" style="max-width: 540px;"></div>
        <div class="row no-gutters"></div>
        <div class="col-md-4"></div>
        <img src="/image/c.jpg" class="card-img" alt="/c.jpg">
        <p class="card-text"><a href="/article/:id"><%= article.title %></p>
          <p class="card-text">
            <small class="text-muted">by A.R WICAKSONO19 Jul 2019 15:10:24</small>
          </p>
        </div>
      <div class="card-deck">
        <div class="card">
          <img src="/image/k.jpg" class="card-img-top" alt="/k.jpg">
          <div class="card-body">
            <p class="card-text"><%= article.title %></p>
            <p class="card-text">
              <small class="text-muted">by A.R WICAKSONO27 Mar 2019 14:14:15</small>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
